 /* .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    color:black
}
.task-list {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 45%;
    height: 400px;
    overflow-y: scroll;
}
.completed {
    background-color: #c6e0b4;
}
.not-completed {
    background-color: #f2dede;
}
h2 {
    margin-top: 0;
}
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
.card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.card-description {
    font-size: 16px;
    margin: 5px 0 10px 0;
}
.card-status {
    font-size: 14px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
}
.card-due-date {
    font-size: 14px;
    color: #999;
}
.card:hover {
    background-color: #f5f5f5;
    cursor: pointer;
} */






























.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 70vw;
    padding-top: 11vw;
    padding-left: 15vw;
    padding-right: 15vw;
    /* padding: 20px; */
    color:black
}
.task-list {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 67%;
    height: 400px;
    overflow-y: scroll;
}
.card {
    display: block;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.title {
    font-size: 18px;
    font-weight: bold;
}
.description {
    margin-bottom: 15px;
    font-size: 14px;
}
.status {
    font-size: 14px;
}
.due-date {
    font-size: 15px;
}
.completed {
    background-color: #c6e0b4;
}
.not-completed {
    background-color: #f2dede;
}
h2 {
    margin-top: 0;
}
.card:hover {
    background-color: #f5f5f5;
    cursor: pointer;
} 
.icons {
    display: flex;
    flex-direction: row;
}
.icon-del {
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}
.icon-edit {
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
}
.user-info{
    /* display: flex; */
    /* flex-direction: row; */ 
    background-color: #bdb2e4 !important;
    width: 40vw;
    margin-top: 2vw;
    margin-left: 1vw;
    background-color: #fff;
    border: 1px solid #ccc;
    color: black;
}
.task-list.not-completed{
    margin: 2vw;
}
.task-list.completed{
    margin: 2vw;
}
.add-btn{
    width:910px !important;
    background-color: black;
    padding: 20px;
}
.sorting{
    padding:10px;
}
