.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
	background: linear-gradient(-45deg, #34495E, #273746, #21618C, #273746);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.auth-form-container, .login-form, .register-form {
  display: block;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    top: 20% !important;
    padding: 1vw;
    border: 1px solid white;
    border-radius: 10px;
    transition: width 2s;
    margin: 0.5rem;
  }
}

.Title {
  position: absolute;
  top: -8%;
  font-size: 3vw;
  font-weight: 700;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 2vh;
}

label {
  text-align: center;
  padding: 1vh;
}

input {
  padding: 10px;
  margin: 1vh;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s; 
}

button:hover {
  background-color: #5D6D7E;
}


.link-btn {
  background:none;
  color: white;
  text-decoration: underline;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.login-register{
  padding-top: 1vh !important;
}